.section-lateral-menu {
  &.first-page {
    .content-title {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;

      transition: all .5s;
      span {
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 0.06rem;

        color: #707070;
      }
    }
    &.active {
      .content-title {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}