@media (max-width: 1280px) {
  .container-section {
    section {
      &.cards {
        .content-cards {
          flex-wrap: wrap;
          .box-card {
            width: 47%;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .container-section {
    section {
      &.blog {
        .content-posts {
          .box-post {
            .content-info {
              width: 66%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container-section {
    section {
      &.servicos {
        .content-servicos {
          flex-wrap: wrap;
          .box-servico {
            width: 50%;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container-section {
    section {
      &.sobre {
        p {
          width: 100%;
        }
      }
      &.nosso-time {
        .content-card {
          flex-wrap: wrap;
          .card {
            width: 100%;
            margin-bottom: 3rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .content-horizontal-card {
          flex-wrap: wrap;
          .card {
            width: 100%;
            margin-bottom: 3rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      &.blog {
        .content-posts {
          .box-post {
            flex-wrap: wrap;
            .content-image {
              width: 100%;
              height: 0;
              padding-bottom: 60%;
              margin-bottom: 1.6rem;
            }
            .content-info {
              width: 100%;
              padding-left: 0; 
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .container-section {
    section.call-to-action {
      .content-video-call-to-action {
        video {
          &.desktop {
            display: none;
          }
          &.mobile {
            display: block;
          }
        }
      }
    }
    section.nosso-time {
      .section-video-processo {
        display: none;
      }
    }
  }
}

@media (max-width: 740px) {
  .container-section {
    section {
      &.cards {
        .content-cards {
          justify-content: center;
          .box-card {
            width: 98%;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .container-section {
    section {
      &.blog {
        .content-posts {
          .box-post {
            .content-image {
              padding-bottom: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .container-section {
    section {
      &.servicos {
        .content-servicos {
          .box-servico {
            width: 100%;
          }
        }
      }
      &.blog {
        .content-posts {
          .box-post {
            .content-info {
              .bottom-info {
                flex-wrap: wrap;
                .left-side {
                  width: 100%;
                  justify-content: space-between;
                }
                .right-side {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container-section {
    section {
      &.sobre {
        padding: 0 3rem;
        padding-bottom: 6rem;
      }
      &.cards {
        padding: 0 3rem;
      }
      &.servicos {
        padding: 8rem 3rem;
      }
      &.nosso-time {
        padding: 6rem 3rem;
      }
      &.blog {
        padding: 6rem 3rem;
      }
    }
  }
}