.container {
  height: 100%;
  display: flex;
  overflow: hidden;
  .background-gray {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9998;
    background-color: rgb(26, 26, 26);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 1s ease-in-out;
    &.active {
      opacity: 0.7;
      visibility: visible;
    }
  }
  .wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    &.no-scroll {
      overflow: hidden;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #e4e4e4;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #FF9D00;
    }
  }
}