@media (max-width: 1660px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            h1 {
              font-size: 3.6rem;
              line-height: 4.4rem;
            }
            .content-button {
              width: 60%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          h1 {
            font-size: 4rem;
          }
        }
        .content-info {
          padding-top: 5rem;
        }
      }
      &.third {
        .content-title {
          h1 {
            font-size: 4rem;
          }
        }
        .content-info {
          padding-top: 5rem;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-info {
          padding-top: 7rem;
          .content-button {
            a {
              width: 48%;
              button {
                span {
                  margin-right: 0.4rem;
                }
              }
            }
          }
        }
      }
      &.second {
        padding: 2rem 4rem;
        .content-box-carousel {
          .content-info {
            padding: 4rem;
          }
        }
      }
      &.third {
        .content-info {
          padding-top: 7rem;
          .content-button {
            a {
              width: 48%;
              button {
                span {
                  margin-right: 0.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          top: 5%;
          h1 {
            font-size: 3.6rem;
          }
        }
        .content-info {
          padding-top: 13rem;
          .content-button {
            flex-wrap: wrap;
            a {
              width: 100%;
              button {
                margin-bottom: 1rem;
                span {
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
      &.third {
        .content-title {
          top: 5%;
          h1 {
            font-size: 3.6rem;
          }
        }
        .content-info {
          padding-top: 13rem;
          .content-button {
            flex-wrap: wrap;
            a {
              width: 100%;
              button {
                margin-bottom: 1rem;
                span {
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-img {
          margin-left: 0;
          padding: 0 1rem;
        }
        .content-title {
          display: flex;
          justify-content: center;
          width: 100%;
          h1 {
            position: relative;
            left: 0;
            width: auto;
            text-align: center;
          }
        }
        .content-info {
          right: 50%;
          transform: translateX(50%) translateY(-50%);
          width: 60%;
          .sub-title {
            span {
              color: #fff;
            }
          }
          p {
            color: #fff;
          }
          .content-button {
            flex-wrap: nowrap;
            a {
              width: 48%;
              button {
                margin-bottom: 1rem;
                span {
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
      &.third {
        .content-img {
          margin-left: 0;
          padding: 0 1rem;
          img {
            margin-left: 0;
          }
        }
        .content-title {
          display: flex;
          justify-content: center;
          width: 100%;
          h1 {
            position: relative;
            left: 0;
            width: auto;
            text-align: center;
          }
        }
        .content-info {
          right: 50%;
          left: auto;
          transform: translateX(50%) translateY(-50%);
          width: 60%;
          .sub-title {
            span {
              color: #fff;
            }
          }
          p {
            color: #fff;
          }
          .content-button {
            flex-wrap: nowrap;
            a {
              width: 48%;
              button {
                margin-bottom: 1rem;
                span {
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
    .content-dots {
      width: 100%;
      justify-content: center;
      margin-left: 0 !important;
    }
  }
}

@media (max-width: 1200px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            h1 {
              font-size: 3rem;
              line-height: 3.7rem;
            }
            .sub-title {
              margin-bottom: 0;
              span {
                width: 60%;
              }
            }
            .content-button {
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            h1 {
              font-size: 2.6rem;
              line-height: 3.2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-img {
          img {
            &:nth-child(1) {
              display: none !important;
            }
            &:nth-child(2) {
              display: block !important;
            }
          }
        }
      }
      &.second {
        padding: 0 1rem;
        .content-box-carousel {
          .content-img {
            img {
              &:nth-child(1) {
                display: none !important;
              }
              &:nth-child(2) {
                display: block !important;
              }
            }
          }
          .content-info {
            h1 {
              font-size: 3.2rem;
              line-height: 3.9rem;
              text-align: center;
            }
            .sub-title {
              span {
                width: 100%;
              }
            }
            .content-button {
              width: 100%;
            }
          }
        }
      }
      &.third {
        .content-img {
          img {
            &:nth-child(1) {
              display: none !important;
            }
            &:nth-child(2) {
              display: block !important;
            }
          }
        }
        .content-info {
          padding: 0;
          padding-top: 12rem;
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          width: 90%;
          left: 5%;
          top: 10%;
          h1 {
            font-size: 3rem;
          }
        }
        .content-info {
          width: 70%;
          padding: 0;
          padding-top: 10rem;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .carousel {
    .box-carousel {
      &.third {
        .content-title {
          h1 {
            font-size: 3rem;
            line-height: 3.4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            padding: 2rem;
            h1 {
              font-size: 2.7rem;
              line-height: 3.3rem;
            }
          }
        }
      }
      &.third {
        .content-info {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          h1 {
            font-size: 2.4rem;
          }
        }
        .content-info {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .carousel {
    .box-carousel {
      &.third {
        .content-title {
          h1 {
            font-size: 2.4rem;
            line-height: 3rem;
          }
        }
        .content-info {
          padding-top: 8rem;
          .sub-title {
            margin-bottom: 1.6rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.6rem;
            margin-bottom: 1.6rem;
          }
          .content-button {
            flex-wrap: wrap;
            padding: 0 3rem;
            a {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .sub-title {
              display: none;
            }
            .content-button {
              flex-wrap: wrap;
              padding: 0 2rem;
              button {
                width: 100%;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-info {
          padding-top: 14rem;
          p {
            display: none;
          }
          .content-button {
            flex-wrap: wrap;
            a {
              width: 100%;
            }
          }
        }
      }
      &.second {
        .content-box-carousel {
          .content-info {
            h1 {
              font-size: 2.4rem;
              line-height: 2.9rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .carousel {
    .box-carousel {
      &.third {
        .content-title {
          h1 {
            font-size: 2rem;
            line-height: 2.4rem;
          }
        }
        .content-info {
          padding-top: 11rem;
          p {
            display: none;
          }
          .content-button {
            button {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-img {
          padding: 0;
          img {
            border-radius: 10px;
          }
        }
        .content-title{
          h1 {
            font-size: 2rem;
          }
        }
        .content-info {
          padding-top: 10rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .carousel {
    .box-carousel {
      &.second {
        .content-box-carousel {
          .content-info {
            padding: 1rem 0.6rem;
            h1 {
              font-size: 1.7rem;
              line-height: 2rem;
            }
            .content-button {
              button {
                padding: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .carousel {
    .box-carousel {
      &.third {
        .content-title {
          h1 {
            font-size: 1.8rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          h1 {
            font-size: 1.7rem;
          }
        }
        .content-info {
          padding-top: 11rem;
          .sub-title {
            margin-bottom: 1rem;
            span {
              font-size: 0.8rem;
            }
          }
          .content-button {
            button {
              padding: 1rem 1.4rem;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .carousel {
    .box-carousel {
      &.first {
        .content-title {
          h1 {
            font-size: 1.5rem;
          }
        }
        .content-info {
          padding-top: 9rem;
        }
      }
    }
  }
}