@font-face {
  font-family: 'Grold';
  src: url('../../fonts/grold/Grold-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grold';
  src: url('../../fonts/grold/Grold-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.carousel {
  position: relative;
  width: 92%;
  height: 80%;
  .box-carousel.first {
    position: relative;
    height: 100%;
    width: 100%;
    .content-img {
      position: absolute;
      top: 0;
      left: -30%;
      width: 90%;
      img {
        width: 100%;
      }
    }
    .content-title {
      position: absolute;
      right: 0;
      width: 40%;
      top: 8%;
      h1 {
        position: absolute;
        left: -57%;
        width: 200%;
        font-family: 'Grold', sans-serif;
        font-weight: normal;
        font-size: 4.4rem;
        background-color: #fff;
        padding: 0px 0.8rem;
        color: #402B2B;
        strong {
          font-family: 'Grold', sans-serif;
          font-weight: bold;
        }
      }
    }
    .content-info {
      position: absolute;
      top: 50%;
      right: 0;
      width: 40%;
      transform: translateY(-50%);
      padding: 3rem;
      .sub-title {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .line {
          height: 1px;
          width: 3rem;
          margin-right: 1rem;
          background-color: #FF9D00;
        }
        span {
          font-family: 'Lato', sans-serif;
          color: #707070;
          font-size: 1rem;
        }
      }
      p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #707070;
        font-size: 1.1rem;
        line-height: 2rem;
        opacity: 0.6;
        margin-bottom: 3rem;
      }
      .content-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 46%;
          font-weight: 500;
          font-size: 0.8rem;
          color: #fff;
          background-color: #FF9D00;
          padding: 1.4rem;
          border-radius: 50px;
          cursor: pointer;
          span {
            margin-right: 1rem;
            transition: all .3s;
          }
          .icon {
            display: flex;
            img {
              width: 2rem;
              transition: all .3s;
            }
          }
          &:last-child {
            background-color: #4F34FF;
          }
          &:hover {
            span {
              transform: translateX(10px);
            }
            .icon {
              img {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}