@font-face {
  font-family: 'Grold';
  src: url('../../fonts/grold/Grold-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grold';
  src: url('../../fonts/grold/Grold-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Grold';
  src: url('../../fonts/grold/Grold-Medium.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.carousel {
  position: relative;
  width: 100%;
  .box-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
    &.first {
      position: relative;
      .content-img {
        width: 100%;
        margin-left: -40%;
        img {
          width: 100%;
          border-radius: 30px;
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .content-title {
        position: absolute;
        z-index: 3;
        right: 0;
        width: 40%;
        top: 8%;
        h1 {
          position: absolute;
          left: -57%;
          width: 200%;
          font-family: 'Grold', sans-serif;
          font-weight: normal;
          font-size: 4.4rem;
          background-color: #fff;
          padding: 0px 0.8rem;
          color: #402B2B;
          strong {
            font-family: 'Grold', sans-serif;
            font-weight: bold;
          }
        }
      }
      .content-info {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 0;
        width: 40%;
        transform: translateY(-50%);
        padding: 3rem;
        .sub-title {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          .line {
            height: 1px;
            width: 3rem;
            margin-right: 1rem;
            background-color: #FF9D00;
          }
          span {
            font-family: 'Lato', sans-serif;
            color: #707070;
            font-size: 1rem;
          }
        }
        p {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          color: #707070;
          font-size: 1.1rem;
          line-height: 2rem;
          opacity: 0.6;
          margin-bottom: 3rem;
        }
        .content-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 46%;
            font-weight: 500;
            font-size: 0.8rem;
            color: #fff;
            background-color: #FF9D00;
            padding: 1.4rem;
            border-radius: 50px;
            cursor: pointer;
            span {
              margin-right: 1rem;
              transition: all .3s;
            }
            .icon {
              display: flex;
              img {
                width: 2rem;
                transition: all .3s;
              }
            }
            &:last-child {
              background-color: #4F34FF;
            }
            &:hover {
              span {
                transform: translateX(10px);
              }
              .icon {
                img {
                  transform: translateX(10px);
                }
              }
            }
          }
        }
      }
    }
    &.second {
      padding: 4rem 6rem;
      .content-box-carousel {
        position: relative;
        .content-img {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            border-radius: 30px;
            &:nth-child(2) {
              display: none;
            }
          }
        }
        .content-info {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding: 6rem;
          h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: 4.4rem;  
            line-height: 4.99rem;
            color: #fff;
            span {
              &.blue-title {
                background-color: #4F34FF;
                padding: 0px 8px;
              }
              &.orange-title {
                background-color: #FF9D00;
                padding: 0px 8px;
              }
            }
            strong {
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
            }
          }
          .sub-title {
            display: flex;
            align-items: flex-start;
            margin-bottom: 2rem;
            padding: 3rem 0;
            .line {
              height: 1px;
              width: 3rem;
              margin-right: 1rem;
              background-color: #FF9D00;
              margin-top: 1rem;
            }
            span {
              font-family: 'Lato', sans-serif;
              color: #707070;
              font-size: 1rem;
              line-height: 2rem;
              width: 40%;
            }
          }
          .content-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 44%;
            button {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 46%;
              font-weight: 500;
              font-size: 0.8rem;
              color: #fff;
              background-color: #FF9D00;
              padding: 1.4rem;
              border-radius: 50px;
              cursor: pointer;
              span {
                margin-right: 1rem;
                transition: all .3s;
              }
              .icon {
                display: flex;
                img {
                  width: 2rem;
                  transition: all .3s;
                }
              }
              &:last-child {
                background-color: #4F34FF;
              }
              &:hover {
                span {
                  transform: translateX(10px);
                }
                .icon {
                  img {
                    transform: translateX(10px);
                  }
                }
              }
            }
          }
        }
      }
    }
    &.third {
      .content-img {
        position: relative;
        width: 100%;
        img {
          margin-left: 40%;
          width: 100%;
          border-radius: 30px;
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .content-title {
        position: absolute;
        left: 0;
        width: 40%;
        top: 8%;
        h1 {
          position: absolute;
          right: -40%;
          width: 200%;
          font-family: 'Grold', sans-serif;
          font-weight: normal;
          font-size: 4.4rem;
          background-color: #fff;
          text-align: right;
          padding: 0px 0.8rem;
          color: #402B2B;
          strong {
            font-family: 'Grold', sans-serif;
            font-weight: bold;
          }
        }
      }
      .content-info {
        position: absolute;
        top: 50%;
        left: 0;
        width: 40%;
        transform: translateY(-50%);
        padding: 3rem;
        .sub-title {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          .line {
            height: 1px;
            width: 3rem;
            margin-right: 1rem;
            background-color: #FF9D00;
          }
          span {
            font-family: 'Lato', sans-serif;
            color: #707070;
            font-size: 1rem;
          }
        }
        p {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          color: #707070;
          font-size: 1.1rem;
          line-height: 2rem;
          opacity: 0.6;
          margin-bottom: 3rem;
        }
        .content-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 46%;
            font-weight: 500;
            font-size: 0.8rem;
            color: #fff;
            background-color: #FF9D00;
            padding: 1.4rem;
            border-radius: 50px;
            cursor: pointer;
            span {
              margin-right: 1rem;
              transition: all .3s;
            }
            .icon {
              display: flex;
              img {
                width: 2rem;
                transition: all .3s;
              }
            }
            &:last-child {
              background-color: #4F34FF;
            }
            &:hover {
              span {
                transform: translateX(10px);
              }
              .icon {
                img {
                  transform: translateX(10px);
                }
              }
            }
          }
        }
      }
    }
  }
  .content-dots {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all .5s;
    margin-bottom: 5rem;
    &.first {
      opacity: 1;
      margin-left: 30%;
    }
    &.second {
      opacity: 1;
      margin-left: 50%;
    }
    &.third {
      opacity: 1;
      margin-left: 70%;
    }
    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 6px;
      background-color: #707070;
      cursor: pointer;
      transition: all .3s;
      &.active {
        background-color: #FF9D00;
      }
      &:hover {
        background-color: #FF9D00;
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}